[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
django-on-heroku = "*"
python-dotenv = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.9"
