nav {
  z-index: 50;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0 20vw;
  width: 100vw;
  background-color: white;
  .link{
    &:hover{
      cursor: pointer;
      color: rgb(47, 47, 182);
    }
  }
  ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    .unreademails{
      font-weight: bold;
    }
    li{
      margin: 0 20px 0 0;
    }
  }
  img{
    height: 30px;
    margin: 5px 0;
  }


}
