nav {
  z-index: 50;
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0 20vw;
  width: 100vw;
  background-color: white;
  .link{
    &:hover{
      cursor: pointer;
    }
  }
  ul{
    display: flex;
    list-style: none;
    li{
      margin-right: 20px;
    }
  }
  img{
    height: 38px;
  }


}
