.marketplace_page {
  
.market_page_section{
  width: 100vw;
  padding: 60px 20vw;
  min-width: 700px;

  .market_list{
    height: 70vh;
    
    overflow-y: scroll;
    
    .property_card{
    border: 1px solid black;
    display: flex;
    height: 200px;
    /*width: 80vw;*/
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    .carousel{
      max-width: 300px;
      margin: 0;

      .img{
        height: 100%;
      }
    }
    .property_info{
      margin: 20px
    }
  }
  }
  

}
}